bind_addr        = "0.0.0.0"
datacenter       = "us-east-1"
data_dir         = "/opt/consul/data"
retry_join       = ["provider=aws region=us-east-1 tag_key=consul-servers tag_value=consul-example"]
server           = {{ server_mode | lower}}
{% if server_mode %}
bootstrap_expect = 3
{% endif %}
